l<body>
<div class="container">
  <h1 class="logo"><a href="http://heroku.com" title="Heroku">Heroku</a></h1>
    <div class="content">
      <div class="dialog" id="login"><form action="/login" class="panel-body" method="post">

        <fieldset>
          <div class="field">
            <label for="email">Email</label><input class="text" id="email" name="email" size="43" type="email" />
          </div>

          <div class="field"><label for="password">Password</label><input class="text password" id="password" name="password" size="43" type="password" />
          </div>
        </fieldset>

        <fieldset class="submit">
          <p><a href="/account/password/reset">Reset Password</a>
          </p>
          <input class="submit" name="commit" type="submit" value="Log In" />
        </fieldset></form>
        </div>

        <a href="/signup" id="message">Getting started with Heroku is easy. &nbsp; &nbsp; &nbsp;
          <span>Sign Up</span>
        </a>
      </div>
      <div id="mural">
        <div id="sky">
        </div>
        <div id="landscape">
          <div id="sun"></div>
          <div id="sun-reflection"></div>
          <div id="fuji"></div>
          <div id="water"></div>
          <div id="ground-surface"></div>
          <div id="ground"></div>
          <div id="foliage1"></div>
          <div id="foliage2"></div>
          <div id="foliage3"></div>
          <div id="bonsai"></div>
        </div>
      </div>
    </div>
  </body>