<div class="well sidebar-nav">
                <ul class="nav nav-list">
                  <li class="nav-header">Side Bar</li>
                  <li class="active"><a href="#">test</a></li>
                  <li><a href="#">test</a></li>
                  <li><a href="#">test</a></li>
                  <li><a href="#">test</a></li>
                  <li><a href="#">test</a></li>
                  <li><a href="#">test</a></li>
                  <li><a href="#">test</a></li>
                  <li><a href="#">test</a></li>
                  <li><a href="#">test</a></li>
                  <li><a href="#">test</a></li>
                  <li><a href="#">test</a></li>
                  <li><a href="#">test</a></li>
                  <li><a href="#">test</a></li>
                </ul>
</div> 